<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/style.css">

  <link rel="icon" href="Favicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <title>Dashboard Page</title>
</head>

<body>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
      <a class="navbar-brand" href="#">Student Database</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link active" href="{{ url_for('login') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('register')}}">Logout</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  <body class="bg-light">

    <div class="container">

      <div class="row">

        <!-- Add New Student Data -->
        <div class="col-sm mt-5">
          <form action="{{ url_for('add') }}" method="post">

            <!-- Student Name Input field -->
            <div class="form-group">
              <label for="exampleInputEmail1">Student Name</label>
              <input type="text" class="form-control" id="studentName" name="std_name" placeholder="Enter Student Name">
            </div>

            <!-- Student Course Input field -->

            <div class="form-group">
              <label for="exampleInputPassword1">Student Course</label>
              <input type="text" class="form-control" id="studentCourse" name="std_course" placeholder="Enter Student Course">
            </div>

            <!-- Student Year Input field -->

            <div class="form-group">
              <label for="exampleInputPassword1">Student Year</label>
              <input type="text" class="form-control" id="studentYear" name="std_year" placeholder="Enter Student Year">
            </div>

            <!-- Student Address Input field -->

            <div class="form-group">
              <label for="exampleInputPassword1">Student Address</label>
              <input type="text" class="form-control" id="studentAddress" name="std_address" placeholder="Enter Student Address">
            </div>

            <!-- Student Gender Input field -->
            <div class="form-group">
              <label for="exampleInputPassword1">Student Gender</label>
              <input type="text" class="form-control" id="studentGender" name="std_gender" placeholder="Enter Student Gender">
            </div>
            

            <!-- Submit Button -->

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

        <div class="col-sm">
          <div class="row ">
            <div class="col-sm mt-3 mb-2 d-flex flex-row justify-content-end">
              <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="text" class="form-control" id="search" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
              </form>
            </div>
            <!-- Student Table -->
            <div class="col-sm w-80">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th> Name</th>
                    <th> Course</th>
                    <th> Year</th>
                    <th> address</th>
                    <th> Gender</th>
                    <th>Edit </th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <!-- students = ((Mitra,cse,4),(rahul,cse,4)) 
                    for i in students:
                      (Mitra,cse,4)
                      (rahul,cse,4)
                -->
                <tbody>
                  {% for student in students %}
                  <tr>
                    <td scope="row">{{ student[0] }}</td>
                    <td>{{ student[1] }}</td>
                    <td>{{ student[2] }}</td>
                    <td>{{ student[3] }}</td>
                    <td>{{ student[4] }}</td>
                    <td>{{ student[5] }}</td>
                    <td>
                      <form action="{{ url_for('update',user_id= student[0]) }}" method="post">
                        <!-- <input type="hidden" name="stdId" value="student[0]"> -->
                        <button type="submit" class="btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z">
                            </path>
                            <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z">
                            </path>
                          </svg>
                        </button>
                      </form>
                    </td>
                    <td>
                      <form action="{{ url_for('delete',user_id= student[0]) }}" method="post">
                        <input type="hidden" name="stdId" value="student[0]">
                        <button type="button" class="btn">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                            </path>
                            <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                            </path>
                          </svg>

                        </button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </body>

</html>